# Source files
src

# TypeScript configuration
tsconfig.json

# Git files
.gitignore

# Editor directories and files
.vscode
.idea

# npm specific
.npmignore

# Package manager files
pnpm-lock.yaml

# Configuration files
renovate.json

# CI/CD files (uncomment if you're using these)
# .github
# .gitlab-ci.yml

# Test files (uncomment if you have a test directory)
# tests
# *.test.ts
# *.spec.ts

# Misc
LICENSE
README.md